@model IEnumerable<IndiceRazaViewModel>

@{
    ViewData["Title"] = "Razas";
}

<div class="card">
    <div class="card-body">

<h1>Razas</h1>

<a asp-action="Crear" class="btn btn-primary mb-3">Crear Raza</a>

<div class="contenedor mb-3">
    <div> 
       <strong class="mb-3">Nombre</strong>
    </div>
    <div>
        <strong>Acciones</strong>
    </div>
</div>



<div class="accordion acordeon-razas">
    @foreach (var especie in Model)
    {
        <div class="accordion-item">
            <h2 class="accordion-header" id="cabeceraUno">
                @{
                    var id = especie.Especie.Replace(" ", "");
                    var dataBSTarget = "#" + id;
                }
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="@dataBSTarget">
                <span class="mb-3">
                    <span><strong>@especie.Especie</strong></span>
                </span>
            </h2>
            <div id="@id" class="accordion-collapse collapse show">
                <div>
                    <ul class="list-group">
                        @foreach (var raza in especie.Razas)
                        {
                           <li class="list-group-item">
                               <span>
                                   <strong>@raza.Nombre</strong>
                                   <div>
                                       <a  asp-action="Editar" asp-route-id="@raza.Id" class="btn btn-primary">
                                          <i class="bi-pencil-fill">Editar</i>
                                       </a>

                                       <a asp-action="Borrar" asp-route-id="@raza.Id" class="btn btn-danger">
                                          <i class="bi-trash-fill">Borrar</i>
                                       </a>
                                   </div>
                                   
                                   
                               </span>
                           </li>
                        }
                    </ul>
                </div>

            </div>
        </div>


    }
</div>

@section Scripts{
                        <partial name="_ValidationScriptsPartial" />
}

    </div>
</div>